{% extends 'base.html' %}

{% block content %}
<div class="container my-3">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card-footer">
            <div class="form-group">
                {{ form.up_file }}
                <small id="help" class="form-text text-muted">
                    &nbsp;첨부할 파일을 업로드해주세요.
                </small>
                <input type="submit" value="Translate" style="float:right;">
            </div>
        </div>
    </form>
</div>
{% endblock %}